<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
                <strong><%= project.project_date.toISOString().split('T')[0] %>: <%= project.title %></strong> (<%= project.organization %>)
                <p><%= project.description %></p>
                <p>📍 <%= project.location %></p>
            </li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>